@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* ------------------------------
------------------------------
------------------------------ */

.container__wrapper {
  padding: 0 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: 1000px;
}

/* ------------------------------
------------------------------
------------------------------ */
header {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -1rem 1.5rem black;
}

#Header {
  padding: 2rem 0;
}

#Header .title__wrapper {
  display: grid;
  grid-template-columns: 8rem auto;
  align-items: center;
  grid-gap: 1rem;
}

#Header .logo {
  width: 8rem;
}

#Header .title {
  font-size: 2rem;
  justify-self: left;
  max-width: 23ch;
}

#Header .filters {
  margin-top: 1rem;
  display: grid;
  display: flex;
}

#willaya__filter {
  padding: 0.6rem 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display: block;
  border: none;

  background-color: #64bf56;

  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;

  border-radius: 2rem 0rem 0rem 2rem;

  appearance: none;
  width: 100%;
}

#willaya__filter:active,
#willaya__filter:focus {
  background-color: #64bf56;
  border-radius: 1.3rem 0 0 0rem;
}

#donnation__type {
  padding: 0.6rem 0;
  padding-left: 1rem;
  padding-right: 5rem;

  margin-left: 0.4rem;

  display: block;
  border: none;

  background-color: #64bf56;

  border-radius: 0 2rem 2rem 0;

  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;

  appearance: none;
  width: 100%;
}

#donnation__type:active,
#donnation__type:focus {
  background-color: #64bf56;
  border-radius: 0 1.2rem 0rem 0;
}

#Header input:focus,
#Header input:active,
#Header select:active,
#Header select:focus {
  outline: none;
}

#Header select {
  cursor: pointer;
}

#Header option {
  background-color: #ffffff;
  color: #64bf56;
  font-weight: 600;
}

#submit_btn {
  padding: 0.6rem 0;
  padding-left: 1.5rem;
  padding-right: 2.5rem;

  margin-left: 1.4rem;

  border-radius: 1.5rem;
  display: block;
  border: none;

  background-color: #c02d2d;

  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}

#Header .filters__wrapper {
  position: relative;
}

#Header .filters__wrapper .icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.8rem;
  display: grid;
  align-items: center;
  pointer-events: none;
  color: #ffffff;
  font-size: 1.5rem;
}

#Header .search_icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2.1rem;
  display: grid;
  align-items: center;
  pointer-events: none;
  color: #ffffff;
  font-size: 1.5rem;
}

/* ------------------------------
------------------------------
------------------------------ */
#List .container {
  display: grid;
  grid-gap: 1.5rem;
  padding: 19rem 0 4rem 0;
}
#List .carte {
  background-color: #f6f2f1;
  border: 1px solid #ebe2e0;
  border-radius: 2rem;
  padding: 2rem 3rem;

  display: grid;

  grid-template-areas:
    "association__name willaya"
    "contact__infos contact__infos"
    "besoin besoin";

  align-items: center;
}

#List .association__name {
  font-size: 2rem;
  color: #64bf56;

  grid-area: association__name;
}

#List .willaya {
  display: inline-block;
  background-color: #64bf56;
  border-radius: 0.5rem;
  padding: 0.5rem 1.2rem;
  margin-left: 1.3rem;

  font-weight: 600;
  color: #ffffff;

  grid-area: willaya;
  justify-self: end;
}

#List .contact__infos {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.7rem;
  justify-content: start;
  align-items: center;

  padding: 1rem 0;
  font-size: 1.1rem;

  grid-area: contact__infos;
}

#List .contact__infos .icons {
  font-size: 1.3rem;
}

#List .addresse {
  font-style: normal;
}

#List .phone {
  text-decoration: none;
  color: #000000;
}

#List .besoin {
  grid-area: besoin;
}

#List .besoin_label {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

#List .besoin-item {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0.3rem 0 0.3rem 0.4rem;
  border: 0.1rem solid #64bf56;
  border-radius: 0.5rem;

  list-style-type: none;
  font-weight: 600;
  color: #64bf56;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  #Header .title {
    font-size: 1.7rem;
  }
}
