@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container__wrapper {
  padding: 0 20px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 900px;
}
/* ####################### header */
/* ####################### header */

#header__container.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "logo header__title"
    "logo filters__container";

  grid-gap: 20px;

  padding: 35px 0;
}

.logo {
  background-color: #38b88d;
  border-radius: 50%;

  width: 130px;
  padding: 10px;
  margin: 20px;

  grid-area: logo;
  align-self: center;
  justify-self: end;
}

.header__title {
  color: #404040;
  font-size: 35px;
  max-width: 27ch;
  grid-area: header__title;
  align-self: end;
}

.filters__container {
  display: flex;
  position: relative;

  height: 50px;

  grid-area: filters__container;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.filter__willaya {
  background-color: #404040;
  border-radius: 7px;

  position: absolute;

  left: 0;

  height: 50px;

  overflow: hidden;
  transition: 350ms ease-in-out;
}

.filter__willaya:hover {
  height: 250px;
}

.willaya__list {
  list-style-type: none;

  width: 160px;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ffffff;

  color: #ffffff;
  font-weight: bold;

  display: grid;
  align-content: center;

  position: relative;
}

.willaya__list label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 20px;

  display: grid;
  align-content: center;

  cursor: pointer;

  transition: padding 300ms ease-in-out;
}

.willaya__list label:hover {
  padding-left: 30px;
  background-color: #38b88d;
}

.filter__donnationtype {
  background-color: #404040;
  border-radius: 7px;

  position: absolute;

  left: 170px;

  height: 50px;

  overflow: hidden;

  transition: 350ms ease-in-out;
}

.filter__donnationtype:hover {
  height: 250px;
}

.donnationtype__list {
  list-style-type: none;

  width: 210px;
  height: 50px;

  border: none;
  border-bottom: 1px solid #ffffff;

  color: #ffffff;
  font-weight: bold;

  display: grid;
  align-content: center;

  position: relative;
}

.donnationtype__list label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 20px;

  display: grid;
  align-content: center;

  cursor: pointer;

  transition: padding 300ms ease-in-out;
}

.donnationtype__list label:hover {
  padding-left: 30px;
  background-color: #38b88d;
}

.donnationtype__list:hover {
  background-color: #38b88d;
  color: #ffffff;

  padding-left: 30px;

  cursor: pointer;
}

#header__container .icon {
  position: absolute;
  color: #ffffff;
  font-size: 30px;

  top: 10px;
  right: 10px;
  z-index: 10;
}

#selected_1,
#selected_2 {
  padding: 20px;
  border: none;
}
#selected_1:hover,
#selected_2:hover {
  padding: 20px;
  border: none;
}

/* ####################### header */
/* ####################### header */

/* ####################### card */
/* ####################### card */

#card__container.container {
  display: grid;
  grid-gap: 30px;

  padding-bottom: 50px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  padding: 40px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "association__name association__willaya"
    "association__address association__phone"
    "association__needs__type association__needs__type";

  grid-gap: 20px;
  align-items: center;

  width: 100%;
}

.association__name {
  color: #38b88d;
  font-size: 30px;

  grid-area: association__name;
}

.association__willaya {
  color: #404040;
  font-weight: bold;

  grid-area: association__willaya;
  justify-self: end;
  align-self: end;
}

.association__address {
  display: flex;
  align-items: center;

  color: #404040;
  font-style: normal;

  grid-area: association__address;
}

.association__address .icon {
  margin-right: 5px;
  color: #38b88d;
  font-size: 22px;
}

.association__phone {
  display: flex;
  align-items: center;

  color: #404040;

  grid-area: association__phone;
  justify-self: end;
}

.association__phone .icon {
  margin-right: 5px;
  color: #38b88d;
  font-size: 22px;
}

.association__needs__type {
  display: flex;
  align-items: center;

  margin-top: 10px;

  grid-area: association__needs__type;
}

.needs__label {
  color: #404040;
  font-weight: bold;

  display: inline;
}

.needs {
  display: inline-block;

  color: #404040;
  font-weight: bold;
  font-size: 13px;

  background-color: #d9d9d9;
  border-radius: 7px;
  padding: 6px 12px;

  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.association__details__btn {
  display: flex;
  align-items: center;

  border: none;
  background-color: transparent;
  margin-left: 10px;

  color: #38b88d;
  font-size: 14px;
  font-weight: bold;

  grid-area: association__details__btn;
}

.association__details__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.association__details__btn .icon {
  margin-right: 2px;

  color: #38b88d;
  font-size: 18px;
}

/* ####################### card */
/* ####################### card */

input {
  display: none;
}

/* ####################### details card */
/* ####################### details card */

.details_box {
  background-color: #000000b9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.details__card {
  background-color: #ffffff;
  min-width: 400px;
  max-width: 700px;
  padding: 40px;
  border-radius: 40px;
}
.details__title {
  font-size: 25px;
  font-weight: bold;

  color: #38b88d;
}

.details__card__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close_btn {
  font-size: 15px;
  font-weight: bold;
  color: #404040;
  opacity: 0.7;

  background-color: #d9d9d9;
  padding: 10px 13px;
  border-radius: 50%;
}
.close_btn:hover {
  opacity: 1;
  cursor: pointer;
}

.details__list {
  margin-top: 20px;
}

.details__list__items {
  list-style-type: none;
  display: inline-block;

  padding: 5px 15px;
  border-radius: 7px;
  margin: 5px;
  background-color: #d9d9d9;
  color: #404040;
  font-weight: bold;
}

/* ####################### details card */
/* ####################### details card */
